<div id="<%= dom_id comment %>" class="comment-container">

  <p>
    <%= comment.user.username %>
  </p>

  <p>
    <% if comment.text.length > 15 %>
      <br>
    <% end %>
    <%= comment.text %>
  </p>

  <p>
    <%= link_to "", comment, class: "comment-link" %>
  </p>

</div>
