<p style="color: green"><%= notice %></p>
<%= link_to "Back to post", :back %>
<%= render @comment %>
<% if user_signed_in? %>
  <% if current_user.id == @comment.user.id %>
    <div>
      <%= button_to "Destroy this comment", @comment, method: :delete %>
    </div>
  <% end %>
<% end %>
