<!--

<%# post.images.each do |image| %>
    <div style="position: relative;">
      <%#= image_tag(image, class: "post_image_at_account", style: "display: inline-block;") %>
      <%#= link_to "", post, class: "nav-link", style: "position: absolute; top: 0; right: 0; bottom: 0; left: 0;" %>
    </div>
    <p></p>
  <%# end %>
-->

<div class="image_preview_container" style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap; scroll-behavior: smooth;">
  <div class="image_preview">
    <% if post.images.any? %>
      <div style="position: relative;">
        <%= image_tag(post.images.first, class: "post_image_at_account", style: "width: 100%; height: 100%; object-fit: cover; display: inline-block;") %>
        <%= link_to "", post, class: "nav-link", style: "position: absolute; top: 0; right: 0; bottom: 0; left: 0;" %>
      </div>
    <% end %>
  </div>
</div>

