
  <p style="color: green"><%= notice %></p>

  <div id="posts" class="text-center">
    <div id="posts-container">
      <%= render @post %>
    </div>
  </div>

  <div id="comments" class="text-center">


  </div>

<%= javascript_include_tag 'posts' %>
<%= javascript_include_tag 'posts_images' %>