.comment-container {
    background-color: #DADADA;
    border: 1px solid #999999;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px; /* Change this value to adjust the font size */
}

.comment-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0, 1);
}

.comment-link:hover {
    opacity: 0.3;
}