<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2023 :
    <a href="/"> https://vk.com/kxtldd_x</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->